# Move into the site directory.
cd /var/www/site/docroot

# Download the latest stable drupal version into docroot.
#drush dl --drupal-project-rename=docroot --yes
drush make -y https://bitbucket.org/rmoger/test-profile/raw/master/stubs/base1_stub.make .

# Create a settings.php file.
cp sites/default/default.settings.php sites/default/settings.php

# Create some directories.
mkdir sites/default/files
mkdir sites/all/modules/contrib
mkdir sites/all/modules/custom

# Install Drupal using drush.
drush site-install base1 --db-url=mysql://{{ dbuser }}:{{ dbpass }}@localhost/{{ dbname }} --account-name=admin --account-pass=password --yes

# Disable the overlay module.
drush dis overlay --yes
